.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fundo.png'); 
    background-size: cover;
    background-position: center;
}

.cadastro-form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.cadastro-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.cadastro-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.cadastro-form button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cadastro-form button:hover {
    background-color: #0056b3;
}

.login-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}